[run]
branch = True
source = ubelt

[report]
exclude_lines =
    pragma: no cover
    .*  # pragma: no cover
    .*  # nocover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if 0:
    if trace is not None
    verbose = .*
    raise
    pass
    if _debug:
    if __name__ == .__main__.:
    print(.*)
    .*if six.PY2:

omit =
    ubelt/tests/*
    ubelt/_internal/dynamic_make_init.py
    ubelt/_internal/static_autogen.py
    ubelt/_internal/__init__.py
    ubelt/__main__.py
    */setup.py
