six >= 1.10.0
Pygments >= 2.2.0
progiter >= 0.0.1
timerit >= 0.0.1
xdoctest >= 0.3.0
pytest >= 3.3.1
pytest-cov
coverage >= 4.3.4
jaraco.windows >= 3.9.1;platform_system=="Windows"
ordered-set >= 0.3.0
